manifest/
content/core/
content/dota_core/
content/dota_addons/addon_template/
content/dota_addons/dota_pvp/
content/dota_addons/holdout_example/
game/_toolsettings/
game/bin/
game/core/
game/dota/
game/dota_core/
game/dota_imported/
game/dota_koreana/
game/dota_koreana_imported/
game/dota_lv/
game/dota_lv_imported/
game/dota_schinese/
game/dota_schinese_imported/
game/570_install.vdf
game/thirdpartylegalnotices.txt
game/dota_addons/addon_template/
game/dota_addons/dota_pvp/
game/dota_addons/holdout_example/
game/dota_addons/dota2cfg.cfg
game/dota_addons/dota_pvp_test/
game/dota_addons/vpks/
content/_toolsautosave/
content/dota_addons/dota_pvp_test/
*~
*.swp
*.bin
*.cfg

game/dota_addons/pudgewars/scripts/vscripts/components/api/backend_key.kv

