@define TotalLength: 3s;
@define TimingFunc: ease;
@define IterationCount: infinite;

Label
{
	font-size: 16.5px;
}

.PudgeWarsTutorialMain
{
	width: 100%;
	height: 100%;
}

#PudgeWarsLabel
{
	width: 100%;
	padding: 10px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 4px 4px 4px #121212;
	margin-top: 7.5px;
}

.toggle_tutorial_button #PudgeWarsLabel
{
	visibility: collapse;
}

.toggle_tutorial_button #ArrowImage
{
	visibility: collapse;
}

.toggle_tutorial_button .PudgeWarsTutorial
{
	visibility: collapse;
}

#ArrowImage
{
	width: 38.4px;
	height: 76.8px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-left: 7.8%;
	margin-bottom: 14.5%;

	animation-name: ArrowImage_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'ArrowImage_anim'
{
	0%
	{
		transform: translateY(0px);
	}

	50%
	{
		transform: translateY(20px);
	}

	100%
	{
		transform: translateY(0px);
	}
}

.PudgeWarsTutorial
{
	width: 11%;
	height: 5%;
	flow-children: down;
	border: 0px solid red;
	vertical-align: bottom;
	horizontal-align: center;
	margin-left: 8%;
	margin-bottom: 21%;

	background-color: #111111;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );

	animation-name: PudgeWarsTutorial_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	
}

@keyframes 'PudgeWarsTutorial_anim'
{
	0%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}

	50%
	{
		box-shadow: -2px -2px 5px 5px #edbd28;
	}

	100%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}
}

.PudgeWarsTutorialPoints
{
	width: 11%;
	height: 5%;
	flow-children: down;
	border: 0px solid red;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 50%;
	margin-bottom: 17%;

	background-color: #111111;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );

	animation-name: PudgeWarsTutorialPoints_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	visibility: collapse;
	
}

@keyframes 'PudgeWarsTutorialPoints_anim'
{
	0%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}

	50%
	{
		box-shadow: -2px -2px 5px 5px #edbd28;
	}

	100%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}
}

#PudgeWarsLabelPoints
{
	width: 100%;
	padding: 3px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 4px 4px 4px #121212;
	margin-top: 7.5px;
}

#ArrowImagePoints
{
	width: 76.8px;
	height: 38.4px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 59.5%;
	margin-bottom: 16.7%;

	animation-name: ArrowImagePoints_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	visibility: collapse;
}

.toggle_tutorial_button #PudgeWarsLabelPoints
{
	visibility: collapse;
}

.toggle_tutorial_button #ArrowImagePoints
{
	visibility: collapse;
}

.toggle_tutorial_button .PudgeWarsTutorialPoints
{
	visibility: collapse;
}

@keyframes 'ArrowImagePoints_anim'
{
	0%
	{
		transform: translateX(0px);
	}

	50%
	{
		transform: translateX(-20px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

.PudgeWarsTutorialShop
{
	width: 11%;
	height: 5%;
	flow-children: down;
	border: 0px solid red;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 15%;
	margin-bottom: 10%;

	background-color: #111111;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );

	animation-name: PudgeWarsTutorialShop_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	
}

@keyframes 'PudgeWarsTutorialShop_anim'
{
	0%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}

	50%
	{
		box-shadow: -2px -2px 5px 5px #edbd28;
	}

	100%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}
}

#PudgeWarsLabelShop
{
	width: 100%;
	padding: 3px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 4px 4px 4px #121212;
}

#ArrowImageShop
{
	width: 76.8px;
	height: 76.8px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 13%;
	margin-bottom: 5%;

	animation-name: ArrowImageShop_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

.toggle_tutorial_button #PudgeWarsLabelShop
{
	visibility: collapse;
}

.toggle_tutorial_button #ArrowImageShop
{
	visibility: collapse;
}

.toggle_tutorial_button .PudgeWarsTutorialShop
{
	visibility: collapse;
}

@keyframes 'ArrowImageShop_anim'
{
	0%
	{
		transform: translateX(0px) translateY(0px);
	}

	50%
	{
		transform: translateX(14.14px) translateY(14.14px);
	}

	100%
	{
		transform: translateX(0px) translateY(0px);
	}
}

.PudgeWarsTutorialToggle
{
	width: 11%;
	height: 5%;
	flow-children: down;
	border: 0px solid red;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 16.3%;
	margin-bottom: 84.5%;

	background-color: #111111;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );

	animation-name: PudgeWarsTutorialToggle_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	
}

@keyframes 'PudgeWarsTutorialToggle_anim'
{
	0%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}

	50%
	{
		box-shadow: -2px -2px 5px 5px #edbd28;
	}

	100%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}
}

#PudgeWarsLabelToggle
{
	width: 100%;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 4px 4px 4px #121212;
	margin-top: 0px;
}

#ArrowImageToggle
{
	width: 38.4px;
	height: 76.8px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 21%;
	margin-bottom: 89%;

	animation-name: ArrowImageToggle_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

.toggle_tutorial_button #PudgeWarsLabelToggle
{
	visibility: collapse;
}

.toggle_tutorial_button #ArrowImageToggle
{
	visibility: collapse;
}

.toggle_tutorial_button .PudgeWarsTutorialToggle
{
	visibility: collapse;
}

@keyframes 'ArrowImageToggle_anim'
{
	0%
	{
		transform: translateY(0px);
	}

	50%
	{
		transform: translateY(-15px);
	}

	100%
	{
		transform: translateY(0px);
	}
}

.PudgeWarsTutorialGameinfo
{
	width: 11%;
	height: 5%;
	flow-children: down;
	border: 0px solid red;
	vertical-align: top;
	horizontal-align: left;
	margin-left: 4%;
	margin-top: 6%;

	background-color: #111111;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );

	animation-name: PudgeWarsTutorialGameinfo_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	
}

@keyframes 'PudgeWarsTutorialGameinfo_anim'
{
	0%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}

	50%
	{
		box-shadow: -2px -2px 5px 5px #edbd28;
	}

	100%
	{
		box-shadow: -2px -2px 0px 3px #edbd28;
	}
}

#PudgeWarsLabelGameinfo
{
	width: 100%;
	color: white;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 4px 4px 4px #121212;
	margin-top: 0px;
}

#ArrowImageGameinfo
{
	width: 76.8px;
	height: 38.4px;
	vertical-align: top;
	horizontal-align: left;
	margin-left: 2.8%;
	margin-top: 8%;

	animation-name: ArrowImageGameinfo_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

.toggle_tutorial_button #PudgeWarsLabelGameinfo
{
	visibility: collapse;
}

.toggle_tutorial_button #ArrowImageGameinfo
{
	visibility: collapse;
}

.toggle_tutorial_button .PudgeWarsTutorialGameinfo
{
	visibility: collapse;
}

@keyframes 'ArrowImageGameinfo_anim'
{
	0%
	{
		transform: translateX(0px);
	}

	50%
	{
		transform: translateX(-20px);
	}

	100%
	{
		transform: translateX(0px);
	}
}

.PudgeWarsTutorialButton
{
	vertical-align: top;
	horizontal-align: right;
	margin-right: 20.20%;
	margin-top: 6px;
	background-color: #222222;
}

.PudgeWarsTutorialButton:hover {
	background-color: #444444;
}

.PudgeWarsTutorialButton:active {
	background-color: #111111;
}

#ToggleTutorialButton
{
	horizontal-align: right;
	width: 80px;
	height: 30px;
	border: 1px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;

}

#ToggleTutorialButtonLabel
{
	color: #F0F8FF;
	horizontal-align: center;
	vertical-align: center;
	text-shadow: 4px 4px 4px #121212;
	font-size: 16px;
	font-weight: bold;
}

