.PudgeWarsVoteMain
{
    width: 20%;
    height: 45%;
    margin-bottom: 15%;
	horizontal-align: center;
    vertical-align: center;
    flow-children: down;
}

#PudgeWarsVotePanel
{
	width: 100%;
    height: 80%;
}

#PudgeWarsVotePanelBg
{
	width: 100%;
	height: 100%;
}

#PudgeWarsVotePanelClose
{
	width: 24px;
	height: 24px;
	background-image: url("file://{images}/custom_game/button_heroselect.png");
	background-size: cover;
	horizontal-align: right;
    vertical-align: top;
    margin-top: 2.5%;
    margin-right: 2.5%;
}

#PudgeWarsVotePanelClose:hover
{
	background-image: url("file://{images}/custom_game/button_heroselect_hover.png");
	background-size: cover;
}

#PudgeWarsVotePanelClose:active
{
	background-image: url("file://{images}/custom_game/button_heroselect_active.png");
	background-size: cover;
}

#PudgeWarsVotePanelCloseLabel
{
	horizontal-align: center;
    vertical-align: center;
    text-align: center;
    font-size: 16px;
}

#PudgeWarsVotePanelLabel
{
	color: white;
    horizontal-align: center;
    vertical-align: top;
    text-align: center;
    text-shadow: 4px 4px 4px #121212;
    margin-top: 10%;
    font-size: 20px;
}

#PudgeWarsVotePanelLabel2
{
	color: white;
    horizontal-align: center;
    vertical-align: top;
    text-align: center;
    text-shadow: 4px 4px 4px #121212;
    margin-top: 20%;
    font-size: 20px;
}

#PudgeWarsVotePanelRows
{
	horizontal-align: center;
	vertical-align: center;
	width: 85%;
	height: 40%;
	flow-children: down;
	margin-bottom: 	-15px;
}

#PudgeWarsVotePanelRows1
{
	horizontal-align: left;
	width: 100%;
	height: 33.33%;
	flow-children: right;
}

#PudgeWarsVotePanelRowsLabel1
{
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 22px;
    vertical-align: center;
    margin-right: 17px;
}

#PudgeWarsVotePanelRows1Block1, #PudgeWarsVotePanelRows1Block2, #PudgeWarsVotePanelRows1Block3, #PudgeWarsVotePanelRows1Block4, #PudgeWarsVotePanelRows1Block5, #PudgeWarsVotePanelRows1Block6, #PudgeWarsVotePanelRows1Block7, #PudgeWarsVotePanelRows1Block8, #PudgeWarsVotePanelRows1Block9, #PudgeWarsVotePanelRows1Block10
{
	height: 28px;
	width: 28px;
	vertical-align: center;
	padding: 2px;
	visibility: collapse;
}

#PudgeWarsVotePanelRows2
{
	horizontal-align: left;
	width: 100%;
	height: 33.33%;
	flow-children: right;
}

#PudgeWarsVotePanelRowsLabel2
{
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 22px;
    vertical-align: center;
    margin-right: 17px;
}

#PudgeWarsVotePanelRows2Block1, #PudgeWarsVotePanelRows2Block2, #PudgeWarsVotePanelRows2Block3, #PudgeWarsVotePanelRows2Block4, #PudgeWarsVotePanelRows2Block5, #PudgeWarsVotePanelRows2Block6, #PudgeWarsVotePanelRows2Block7, #PudgeWarsVotePanelRows2Block8, #PudgeWarsVotePanelRows2Block9, #PudgeWarsVotePanelRows2Block10
{
	height: 28px;
	width: 28px;
	vertical-align: center;
	padding: 2px;
	visibility: collapse;
}

#PudgeWarsVotePanelRows3
{
	horizontal-align: left;
	width: 100%;
	height: 33.33%;
	flow-children: right;
}

#PudgeWarsVotePanelRowsLabel3
{
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 22px;
    vertical-align: center;
    margin-right: 5px;
}

#PudgeWarsVotePanelRows3Block1, #PudgeWarsVotePanelRows3Block2, #PudgeWarsVotePanelRows3Block3, #PudgeWarsVotePanelRows3Block4, #PudgeWarsVotePanelRows3Block5, #PudgeWarsVotePanelRows3Block6, #PudgeWarsVotePanelRows3Block7, #PudgeWarsVotePanelRows3Block8, #PudgeWarsVotePanelRows3Block9, #PudgeWarsVotePanelRows3Block10
{
	height: 28px;
	width: 28px;
	vertical-align: center;
	padding: 2px;
	visibility: collapse;
}

#PudgeWarsVotePanelVotedForLabel
{
	vertical-align: 	bottom;
	horizontal-align: center;
	text-align: 	center;
	margin-bottom: 	10%;
	z-index: 	1;
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 30px;
}

#PudgeWarsVotePanelButtons
{
	width: 75%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 	10%;
	flow-children: right;
}

#PudgeWarsVotePanelButtons50, #PudgeWarsVotePanelButtons75
{
	margin-right: 	40px;
	width: 70px;
	height: 35px;
	background-image: url("file://{images}/custom_game/button_heroselect.png");
	background-size: cover;
}

#PudgeWarsVotePanelButtons100
{
	width: 70px;
	height: 35px;
	background-image: url("file://{images}/custom_game/button_heroselect.png");
	background-size: cover;
}

#PudgeWarsVotePanelButtons50:hover, #PudgeWarsVotePanelButtons75:hover, #PudgeWarsVotePanelButtons100:hover
{
	background-image: url("file://{images}/custom_game/button_heroselect_hover.png");
	background-size: cover;
}

#PudgeWarsVotePanelButtons50:active, #PudgeWarsVotePanelButtons75:active, #PudgeWarsVotePanelButtons100:active
{
	background-image: url("file://{images}/custom_game/button_heroselect_active.png");
	background-size: cover;
}

#PudgeWarsVotePanelButtons50Label, #PudgeWarsVotePanelButtons75Label, #PudgeWarsVotePanelButtons100Label
{
	color: white;
    font-size: 28px;
    vertical-align: center;
    horizontal-align: center;
}

.PudgeWarsVoteTip
{
	width: 100%;
    height: 18%;
 	margin-bottom: 13%;
    vertical-align: bottom;
}

#PudgeWarsVoteTipBg
{
	width: 100%;
	height: 100%;
}

#PudgeWarsVoteTipIcon
{
	width: 	64px;
	height: 32px;
	vertical-align: center;
	margin-left: 	5%;
}

#PudgeWarsVoteTipLabel
{
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 24px;
    vertical-align: center;
    horizontal-align: left;
    margin-left: 	38%;
}

#PudgeWarsVoteTipTimer
{
	color: white;
    text-shadow: 4px 4px 4px #121212;
    font-size: 40px;
    vertical-align: center;
    horizontal-align: right;
    margin-right: 	20%;
}